<img style="-webkit-user-select: none;" src="http://172.21.1.122:8080/stream/camera-1" width="460" height="258">

<div id="app">
    <img #video style="-webkit-user-select: none;" src="http://172.21.1.122:8080/stream/camera-1" width="460" height="258">
    <div><button id="snap" (click)="capture()">Snap Photo</button></div>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <ul>
        <li *ngFor="let c of captures">
            <img src="{{ c }}" height="50" />
        </li>
    </ul>
</div>